{"openapi":"3.1.0","info":{"title":"Maatsii Chart Streaming API","description":"Production API for accessing 200 real-time financial chart frames organized across 35 asset groups covering Index Futures, Treasuries & Bonds, Yield Curve, Credit, Dollar & FX, Crypto, Energy, Commodities, Macro, Global Markets, Equities, and Volatility. All charts stream at 720x1280 resolution with ASAC compression and <1 second latency.","version":"7.0.0","contact":{"name":"Maatsii API Support","url":"https://api.maatsii.com"},"x-logo":{"url":"https://api.maatsii.com/logo.png"},"x-documentation":{"humanReadable":"https://api.maatsii.com/llm.txt","aiAgentDiscovery":"https://api.maatsii.com/llms.txt","platformOptimized":{"claude":"https://api.maatsii.com/claude.json","chatgpt":"https://api.maatsii.com/gpt.json","grok":"https://api.maatsii.com/grok.json"}}},"servers":[{"url":"https://api.maatsii.com","description":"Production API (Cloudflare CDN)"}],"paths":{"/{id}.jpg":{"get":{"summary":"Get chart frame (root-level URL)","description":"Returns chart frame as binary JPEG at root level. Cleaner URL pattern optimized for LLM embedding and sharing. Always returns binary JPEG format. Accepts chart IDs C1 through C200 only (e.g., c1.jpg, c100.jpg, c200.jpg).","operationId":"getChartFrameJpg","tags":["Frames","LLM Embedding"],"parameters":[{"name":"id","in":"path","required":true,"description":"Chart ID or ticker alias (without .jpg extension in parameter)","schema":{"type":"string","pattern":"^([Cc]([1-9]|[1-9][0-9]|1[0-9]{2}|200)|[A-Z0-9_]+)$"},"examples":{"chartId":{"value":"C1","summary":"Chart C1 as C1.jpg"}}}],"responses":{"200":{"description":"Binary JPEG image with proper filename (720×1280, ~85KB)","headers":{"Content-Type":{"description":"Image MIME type","schema":{"type":"string","example":"image/jpeg"}},"Content-Disposition":{"description":"Inline display with filename (NEW for chatbot embedding)","schema":{"type":"string","example":"inline; filename=\"c1.jpg\""}},"Cache-Control":{"description":"Short cache duration for preview systems (NEW)","schema":{"type":"string","example":"public, max-age=5"}},"X-Chart-Id":{"description":"Chart identifier (uppercase)","schema":{"type":"string","example":"C1"}},"X-Ticker-Alias":{"description":"Chart ticker alias","schema":{"type":"string","example":"NQ_100T"}},"X-Frame-Age-Ms":{"description":"Frame age in milliseconds","schema":{"type":"string","example":"847"}}},"content":{"image/jpeg":{"description":"Binary JPEG image","schema":{"type":"string","format":"binary"}}}},"404":{"description":"Chart not found or frame unavailable","content":{"application/json":{"oneOf":[{"$ref":"#/components/schemas/FrameNotFoundError"},{"$ref":"#/components/schemas/FrameUnavailableError"}]}}},"503":{"description":"Frame cache unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrameCacheUnavailableError"}}}}},"x-gpt-preferred":true,"x-gpt-purpose":"visual","x-gpt-suitable-for":["image-embedding","llm-chat-display","grok-rendering"],"x-openai-isConsequential":false}},"/api/charts/tickers":{"get":{"summary":"Get organized ticker list","description":"Returns all 200 chart tickers organized by category (Index Futures, Commodities, Crypto, etc.) with chart ID mappings. Includes examples for each category. Response is ~9KB JSON.","operationId":"getTickersList","tags":["Metadata"],"responses":{"200":{"description":"Ticker list organized by 17 market categories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerList"},"example":{"success":true,"totalCharts":200,"categories":["Index Futures","Commodities","Crypto","FX","Stocks & ETFs","Treasuries","Volatility"],"tickersByCategory":{"Index Futures":[{"ticker":"NQ_100T","chartId":"C1"},{"ticker":"NQ_1000T","chartId":"C2"},{"ticker":"ES_100T","chartId":"C7"}]},"examples":{"Index Futures":["NQ_100T (C1)","ES_15M (C10)","YM_1H (C52)"]}}}}}}}},"/api/charts":{"get":{"summary":"Get all charts metadata","description":"Returns metadata for all 200 charts including symbol, timeframe, chart URL, WebSocket port, and capture group. Response is ~50KB JSON object keyed by chart ID (C1-C200).","operationId":"getAllCharts","tags":["Metadata"],"responses":{"200":{"description":"Complete charts metadata dictionary","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":{"$ref":"#/components/schemas/ChartMetadata"},"example":{"C1":{"id":"C1","symbol":"NQ1!","timeframe":"100T","port":9000,"type":"direct","capture_group":"01 NQ"},"C10":{"id":"C10","symbol":"ES1!","timeframe":"15M","port":9009,"type":"direct","capture_group":"02 ES"}}}}}}}}},"/api/charts/{chartId}":{"get":{"summary":"Get specific chart metadata","description":"Returns metadata for a single chart (symbol, timeframe, chart URL, WebSocket port). **NOT FOR GPT ACTIONS - this returns metadata URLs, NOT images.** For visual chart display, use /{id}.jpg instead. More efficient than /api/charts bulk endpoint.","operationId":"getChartById","tags":["Metadata"],"parameters":[{"name":"chartId","in":"path","required":true,"description":"Chart ID in uppercase format (C1-C200)","schema":{"type":"string","pattern":"^C([1-9]|[1-9][0-9]|1[0-9]{2}|200)$","example":"C1"}}],"responses":{"200":{"description":"Chart metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartMetadata"},"example":{"id":"C1","symbol":"NQ1!","timeframe":"100T","port":9000,"type":"direct","capture_group":"01 NQ"}}}},"404":{"description":"Chart ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/charts/status":{"get":{"summary":"Get system status","description":"Returns overall system status including total chart count, direct vs derived charts, cache age, and timestamp. Useful for health checks.","operationId":"getSystemStatus","tags":["System"],"responses":{"200":{"description":"System status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemStatus"},"example":{"total":200,"direct":200,"derived":0,"timestamp":1768969948421,"cacheAge":1247}}}}}}}},"components":{"schemas":{"ChartMetadata":{"type":"object","required":["id","symbol","timeframe","port","type","capture_group"],"properties":{"id":{"type":"string","description":"Chart identifier (C1-C200)","example":"C1"},"symbol":{"type":"string","description":"Instrument symbol (with futures suffix for futures)","example":"NQ1!"},"timeframe":{"type":"string","description":"Chart timeframe (tick-based, minutes, hours, days, weeks)","example":"100T","enum":["100T","1000T","1M","5M","10M","15M","30M","1H","4H","6H","D","W"]},"url":{"type":"string","format":"uri","description":"Chart URL"},"directUrl":{"type":"string","format":"uri","description":"Direct chart URL (same as url)"},"port":{"type":"integer","minimum":9000,"maximum":9199,"description":"WebSocket port for this chart (9000-9199)","example":9000},"type":{"type":"string","description":"Chart type","enum":["direct","derived"],"example":"direct"},"capture_group":{"type":"string","description":"Asset group classification (01 NQ, 02 ES, etc.)","example":"01 NQ"}}},"SystemStatus":{"type":"object","required":["total","direct","derived","timestamp"],"properties":{"total":{"type":"integer","description":"Total number of charts","example":200},"direct":{"type":"integer","description":"Number of direct charts","example":200},"derived":{"type":"integer","description":"Number of derived/synthetic charts","example":0},"timestamp":{"type":"integer","description":"Current server timestamp in milliseconds","example":1768969948421},"cacheAge":{"type":"integer","description":"Metadata cache age in milliseconds","example":1247}}},"TickerList":{"type":"object","required":["success","totalCharts","categories","tickersByCategory"],"properties":{"success":{"type":"boolean","description":"Request success indicator","example":true},"totalCharts":{"type":"integer","description":"Total number of charts","example":200},"categories":{"type":"array","description":"List of market categories","items":{"type":"string"},"example":["Index Futures","Commodities","Crypto","FX","Stocks & ETFs","Treasuries","Volatility","Dollar Spreads","Yield Curve","Macro Ratios"]},"tickersByCategory":{"type":"object","description":"Tickers organized by category","additionalProperties":{"type":"array","items":{"type":"object","properties":{"ticker":{"type":"string","example":"NQ_100T"},"chartId":{"type":"string","example":"C1"}}}}},"examples":{"type":"object","description":"Example tickers for each category","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"Error message","example":"Chart not found"},"chartId":{"type":"string","description":"Chart ID that caused the error (if applicable)","example":"c999"},"ticker":{"type":"string","description":"Ticker that caused the error (if applicable)","example":"INVALID_TF"},"hint":{"type":"string","description":"Helpful hint for resolving the error","example":"Use chart IDs c1 through c200"},"limit":{"type":"integer","description":"Rate limit (requests per window)","example":60},"window":{"type":"string","description":"Rate limit time window","example":"1 minute"},"retryAfter":{"type":"integer","description":"Seconds until rate limit resets","example":42}}},"FrameNotFoundError":{"type":"object","required":["error","provided","hint"],"properties":{"error":{"type":"string","example":"Unknown ticker or chart ID"},"provided":{"type":"string","example":"INVALID_TF","examples":{"invalid_format":{"value":"INVALID_TF","summary":"Invalid ticker format"},"vix_1d_unavailable":{"value":"VIX_1D","summary":"Pure VIX 1D does not exist (only VIX_15M available)"},"vix_1h_unavailable":{"value":"VIX_1H","summary":"Pure VIX 1H does not exist (only VIX_15M available)"}}},"hint":{"type":"string","example":"Use chart IDs C1 through C200 (e.g., c1.jpg, c100.jpg, c200.jpg). See /api/charts for chart metadata.","examples":{"general":{"value":"Use chart IDs C1 through C200 (e.g., c1.jpg, c100.jpg, c200.jpg). See /api/charts for chart metadata.","summary":"General hint for invalid ticker"},"vix_unavailable":{"value":"Pure VIX 1D/1H not available. Available: VIX_15M (C33), SVIX_VIX_D (C137 ratio), VVIX_VIX_1H (C136 ratio)","summary":"Specific hint for unavailable VIX timeframes"}}}}},"FrameUnavailableError":{"type":"object","required":["error","chartId","hint"],"properties":{"error":{"type":"string","example":"Frame not available"},"chartId":{"type":"string","example":"C1"},"ticker":{"type":"string","example":"NQ_100T"},"hint":{"type":"string","example":"Chart may not be streaming or cache not initialized"}}},"FrameCacheUnavailableError":{"type":"object","required":["error","chartId","hint"],"properties":{"error":{"type":"string","example":"Frame cache unavailable"},"chartId":{"type":"string","example":"C1"},"hint":{"type":"string","example":"Frame cache system is not accessible. Please try again later."},"cacheError":{"type":"string","example":"Cache directory not accessible: /opt/chartfeeder/cache/frames"}}}},"headers":{"FrameHeaders":{"X-Chart-Id":{"description":"Chart identifier (uppercase)","schema":{"type":"string","example":"C1"}},"X-Ticker-Alias":{"description":"Chart ticker alias","schema":{"type":"string","example":"c1"}},"X-Frame-Timestamp":{"description":"Frame timestamp in milliseconds","schema":{"type":"string"}},"X-Frame-Age-Ms":{"description":"Frame age in milliseconds","schema":{"type":"string"}},"X-Frame-Stale":{"description":"Staleness indicator (true if >5s old)","schema":{"type":"string","enum":["true","false"]}}}}},"x-rateLimit":{"description":"API rate limiting policy","limit":60,"window":"1 minute","scope":"global"},"x-chartSystem":{"totalCharts":200,"chartRange":"C1-C200","portRange":"9000-9199","frameResolution":"720x1280","frameFormat":"JPEG baseline sRGB","refreshRate":"~0.4 seconds","asacCompression":"40-70% bandwidth reduction"},"x-chartInventory":{"C1":{"symbol":"NQ1!","timeframe":"100T","ticker":"NQ1_100T","group":"01 NQ","url":"https://api.maatsii.com/c1.jpg"},"C2":{"symbol":"NQ1!","timeframe":"1000T","ticker":"NQ1_1000T","group":"01 NQ","url":"https://api.maatsii.com/c2.jpg"},"C3":{"symbol":"NQ1!","timeframe":"1M","ticker":"NQ1_1M","group":"01 NQ","url":"https://api.maatsii.com/c3.jpg"},"C4":{"symbol":"NQ1!","timeframe":"15M","ticker":"NQ1_15M","group":"01 NQ","url":"https://api.maatsii.com/c4.jpg"},"C5":{"symbol":"NQ1!","timeframe":"1H","ticker":"NQ1_1H","group":"01 NQ","url":"https://api.maatsii.com/c5.jpg"},"C6":{"symbol":"NQ1!","timeframe":"4H","ticker":"NQ1_4H","group":"01 NQ","url":"https://api.maatsii.com/c6.jpg"},"C7":{"symbol":"ES1!","timeframe":"100T","ticker":"ES1_100T","group":"02 ES","url":"https://api.maatsii.com/c7.jpg"},"C8":{"symbol":"ES1!","timeframe":"1000T","ticker":"ES1_1000T","group":"02 ES","url":"https://api.maatsii.com/c8.jpg"},"C9":{"symbol":"ES1!","timeframe":"1M","ticker":"ES1_1M","group":"02 ES","url":"https://api.maatsii.com/c9.jpg"},"C10":{"symbol":"ES1!","timeframe":"15M","ticker":"ES1_15M","group":"02 ES","url":"https://api.maatsii.com/c10.jpg"},"C11":{"symbol":"ES1!","timeframe":"1H","ticker":"ES1_1H","group":"02 ES","url":"https://api.maatsii.com/c11.jpg"},"C12":{"symbol":"ES1!","timeframe":"4H","ticker":"ES1_4H","group":"02 ES","url":"https://api.maatsii.com/c12.jpg"},"C13":{"symbol":"GC1!","timeframe":"15M","ticker":"GC1_15M","group":"16 Gold","url":"https://api.maatsii.com/c13.jpg"},"C14":{"symbol":"GC1!","timeframe":"1H","ticker":"GC1_1H","group":"16 Gold","url":"https://api.maatsii.com/c14.jpg"},"C15":{"symbol":"CL1!","timeframe":"1M","ticker":"CL1_1M","group":"17 Energy","url":"https://api.maatsii.com/c15.jpg"},"C16":{"symbol":"CL1!","timeframe":"15M","ticker":"CL1_15M","group":"17 Energy","url":"https://api.maatsii.com/c16.jpg"},"C17":{"symbol":"CL1!","timeframe":"30M","ticker":"CL1_30M","group":"17 Energy","url":"https://api.maatsii.com/c17.jpg"},"C18":{"symbol":"CL1!","timeframe":"1H","ticker":"CL1_1H","group":"17 Energy","url":"https://api.maatsii.com/c18.jpg"},"C19":{"symbol":"CL1!","timeframe":"4H","ticker":"CL1_4H","group":"17 Energy","url":"https://api.maatsii.com/c19.jpg"},"C20":{"symbol":"CL1!","timeframe":"6H","ticker":"CL1_6H","group":"17 Energy","url":"https://api.maatsii.com/c20.jpg"},"C21":{"symbol":"CL1!","timeframe":"1D","ticker":"CL1_1D","group":"17 Energy","url":"https://api.maatsii.com/c21.jpg"},"C22":{"symbol":"TIP/US10Y","timeframe":"1D","ticker":"TIP_US10Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c22.jpg"},"C23":{"symbol":"TLT/LQD","timeframe":"1D","ticker":"TLT_LQD_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c23.jpg"},"C24":{"symbol":"GC1!","timeframe":"1M","ticker":"GC1_1M","group":"16 Gold","url":"https://api.maatsii.com/c24.jpg"},"C25":{"symbol":"MOVE","timeframe":"1D","ticker":"MOVE_1D","group":"23 Volatility","url":"https://api.maatsii.com/c25.jpg"},"C26":{"symbol":"EWG/DAX","timeframe":"10M","ticker":"EWG_DAX_10M","group":"25 Global & Macro","url":"https://api.maatsii.com/c26.jpg"},"C27":{"symbol":"FXI/BTCUSD","timeframe":"15M","ticker":"FXI_BTCUSD_15M","group":"25 Global & Macro","url":"https://api.maatsii.com/c27.jpg"},"C28":{"symbol":"TIP/DXY","timeframe":"1D","ticker":"TIP_DXY_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c28.jpg"},"C29":{"symbol":"VIX","timeframe":"4H","ticker":"VIX_4H","group":"23 Volatility","url":"https://api.maatsii.com/c29.jpg"},"C30":{"symbol":"TNX","timeframe":"1H","ticker":"TNX_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c30.jpg"},"C31":{"symbol":"XLK","timeframe":"1H","ticker":"XLK_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c31.jpg"},"C32":{"symbol":"SOXX/SMH","timeframe":"1H","ticker":"SOXX_SMH_1H","group":"20 Semiconductors","url":"https://api.maatsii.com/c32.jpg"},"C33":{"symbol":"VIX","timeframe":"15M","ticker":"VIX_15M","group":"23 Volatility","url":"https://api.maatsii.com/c33.jpg"},"C34":{"symbol":"SPYG/SPYV","timeframe":"1H","ticker":"SPYG_SPYV_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c34.jpg"},"C35":{"symbol":"LQD/IEF","timeframe":"10M","ticker":"LQD_IEF_10M","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c35.jpg"},"C36":{"symbol":"USDJPY","timeframe":"1000T","ticker":"USDJPY_1000T","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c36.jpg"},"C37":{"symbol":"HYG","timeframe":"4H","ticker":"HYG_4H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c37.jpg"},"C38":{"symbol":"ZB1!","timeframe":"1H","ticker":"ZB1_1H","group":"07 FI Long-Term","url":"https://api.maatsii.com/c38.jpg"},"C39":{"symbol":"NVDA/NQ1","timeframe":"3M","ticker":"NVDA_NQ1_3M","group":"20 Semiconductors","url":"https://api.maatsii.com/c39.jpg"},"C40":{"symbol":"JNK/HYG","timeframe":"1H","ticker":"JNK_HYG_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c40.jpg"},"C41":{"symbol":"NVDA/ES1","timeframe":"30M","ticker":"NVDA_ES1_30M","group":"20 Semiconductors","url":"https://api.maatsii.com/c41.jpg"},"C42":{"symbol":"SOFR/US02Y","timeframe":"5M","ticker":"SOFR_US02Y_5M","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c42.jpg"},"C43":{"symbol":"XLC/XLK/XLV","timeframe":"1H","ticker":"XLC_XLK_XLV_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c43.jpg"},"C44":{"symbol":"SMCI/NVDA/TSM","timeframe":"15M","ticker":"SMCI_NVDA_TSM_15M","group":"20 Semiconductors","url":"https://api.maatsii.com/c44.jpg"},"C45":{"symbol":"GS/JPM/XLF","timeframe":"4H","ticker":"GS_JPM_XLF_4H","group":"24 Market Breadth","url":"https://api.maatsii.com/c45.jpg"},"C46":{"symbol":"MOVE/US02Y/US10Y","timeframe":"1H","ticker":"MOVE_US02Y_US10Y_1H","group":"25 Global & Macro","url":"https://api.maatsii.com/c46.jpg"},"C47":{"symbol":"HYG/TLT/US02Y","timeframe":"15M","ticker":"HYG_TLT_US02Y_15M","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c47.jpg"},"C48":{"symbol":"RSP/SPY/IWM","timeframe":"30M","ticker":"RSP_SPY_IWM_30M","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c48.jpg"},"C49":{"symbol":"YM1!","timeframe":"100T","ticker":"YM1_100T","group":"03 YM","url":"https://api.maatsii.com/c49.jpg"},"C50":{"symbol":"YM1!","timeframe":"1000T","ticker":"YM1_1000T","group":"03 YM","url":"https://api.maatsii.com/c50.jpg"},"C51":{"symbol":"YM1!","timeframe":"15M","ticker":"YM1_15M","group":"03 YM","url":"https://api.maatsii.com/c51.jpg"},"C52":{"symbol":"YM1!","timeframe":"1H","ticker":"YM1_1H","group":"03 YM","url":"https://api.maatsii.com/c52.jpg"},"C53":{"symbol":"RTY1!","timeframe":"100T","ticker":"RTY1_100T","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c53.jpg"},"C54":{"symbol":"RTY1!","timeframe":"1000T","ticker":"RTY1_1000T","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c54.jpg"},"C55":{"symbol":"RTY1!","timeframe":"15M","ticker":"RTY1_15M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c55.jpg"},"C56":{"symbol":"RTY1!","timeframe":"1H","ticker":"RTY1_1H","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c56.jpg"},"C57":{"symbol":"ZB1!","timeframe":"15M","ticker":"ZB1_15M","group":"07 FI Long-Term","url":"https://api.maatsii.com/c57.jpg"},"C58":{"symbol":"GC1!","timeframe":"100T","ticker":"GC1_100T","group":"16 Gold","url":"https://api.maatsii.com/c58.jpg"},"C59":{"symbol":"ZB1!","timeframe":"4H","ticker":"ZB1_4H","group":"07 FI Long-Term","url":"https://api.maatsii.com/c59.jpg"},"C60":{"symbol":"ZN1!","timeframe":"15M","ticker":"ZN1_15M","group":"06 FI 10-Year","url":"https://api.maatsii.com/c60.jpg"},"C61":{"symbol":"ZN1!","timeframe":"1H","ticker":"ZN1_1H","group":"06 FI 10-Year","url":"https://api.maatsii.com/c61.jpg"},"C62":{"symbol":"ZN1!","timeframe":"4H","ticker":"ZN1_4H","group":"06 FI 10-Year","url":"https://api.maatsii.com/c62.jpg"},"C63":{"symbol":"ZF1!","timeframe":"15M","ticker":"ZF1_15M","group":"05 FI Short-Term","url":"https://api.maatsii.com/c63.jpg"},"C64":{"symbol":"ZF1!","timeframe":"1H","ticker":"ZF1_1H","group":"05 FI Short-Term","url":"https://api.maatsii.com/c64.jpg"},"C65":{"symbol":"UB1!","timeframe":"1H","ticker":"UB1_1H","group":"07 FI Long-Term","url":"https://api.maatsii.com/c65.jpg"},"C66":{"symbol":"UB1!","timeframe":"4H","ticker":"UB1_4H","group":"07 FI Long-Term","url":"https://api.maatsii.com/c66.jpg"},"C67":{"symbol":"BTCUSD","timeframe":"1M","ticker":"BTCUSD_1M","group":"13 Crypto BTC","url":"https://api.maatsii.com/c67.jpg"},"C68":{"symbol":"BTCUSD","timeframe":"5M","ticker":"BTCUSD_5M","group":"13 Crypto BTC","url":"https://api.maatsii.com/c68.jpg"},"C69":{"symbol":"BTCUSD","timeframe":"1H","ticker":"BTCUSD_1H","group":"13 Crypto BTC","url":"https://api.maatsii.com/c69.jpg"},"C70":{"symbol":"BTCUSD","timeframe":"4H","ticker":"BTCUSD_4H","group":"13 Crypto BTC","url":"https://api.maatsii.com/c70.jpg"},"C71":{"symbol":"BTCUSD","timeframe":"1D","ticker":"BTCUSD_1D","group":"13 Crypto BTC","url":"https://api.maatsii.com/c71.jpg"},"C72":{"symbol":"ETHUSD","timeframe":"1M","ticker":"ETHUSD_1M","group":"14 Crypto ETH","url":"https://api.maatsii.com/c72.jpg"},"C73":{"symbol":"ETHUSD","timeframe":"5M","ticker":"ETHUSD_5M","group":"14 Crypto ETH","url":"https://api.maatsii.com/c73.jpg"},"C74":{"symbol":"ETHUSD","timeframe":"1H","ticker":"ETHUSD_1H","group":"14 Crypto ETH","url":"https://api.maatsii.com/c74.jpg"},"C75":{"symbol":"ETHUSD","timeframe":"4H","ticker":"ETHUSD_4H","group":"14 Crypto ETH","url":"https://api.maatsii.com/c75.jpg"},"C76":{"symbol":"ETHUSD","timeframe":"1D","ticker":"ETHUSD_1D","group":"14 Crypto ETH","url":"https://api.maatsii.com/c76.jpg"},"C77":{"symbol":"DXY","timeframe":"15M","ticker":"DXY_15M","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c77.jpg"},"C78":{"symbol":"DXY","timeframe":"1H","ticker":"DXY_1H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c78.jpg"},"C79":{"symbol":"DXY","timeframe":"1D","ticker":"DXY_1D","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c79.jpg"},"C80":{"symbol":"DX1!","timeframe":"15M","ticker":"DX1_15M","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c80.jpg"},"C81":{"symbol":"DX1!","timeframe":"1H","ticker":"DX1_1H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c81.jpg"},"C82":{"symbol":"6E1","timeframe":"15M","ticker":"6E1_15M","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c82.jpg"},"C83":{"symbol":"6E1","timeframe":"1H","ticker":"6E1_1H","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c83.jpg"},"C84":{"symbol":"6E1","timeframe":"1D","ticker":"6E1_1D","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c84.jpg"},"C85":{"symbol":"6B1","timeframe":"15M","ticker":"6B1_15M","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c85.jpg"},"C86":{"symbol":"6B1","timeframe":"1H","ticker":"6B1_1H","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c86.jpg"},"C87":{"symbol":"6J1","timeframe":"15M","ticker":"6J1_15M","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c87.jpg"},"C88":{"symbol":"6J1","timeframe":"1H","ticker":"6J1_1H","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c88.jpg"},"C89":{"symbol":"6A1","timeframe":"15M","ticker":"6A1_15M","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c89.jpg"},"C90":{"symbol":"6A1","timeframe":"1H","ticker":"6A1_1H","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c90.jpg"},"C91":{"symbol":"EURUSD","timeframe":"5M","ticker":"EURUSD_5M","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c91.jpg"},"C92":{"symbol":"EURUSD","timeframe":"1H","ticker":"EURUSD_1H","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c92.jpg"},"C93":{"symbol":"GBPUSD","timeframe":"5M","ticker":"GBPUSD_5M","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c93.jpg"},"C94":{"symbol":"GBPUSD","timeframe":"1H","ticker":"GBPUSD_1H","group":"10 FX EUR & GBP","url":"https://api.maatsii.com/c94.jpg"},"C95":{"symbol":"AUDUSD","timeframe":"5M","ticker":"AUDUSD_5M","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c95.jpg"},"C96":{"symbol":"AUDUSD","timeframe":"1H","ticker":"AUDUSD_1H","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c96.jpg"},"C97":{"symbol":"USDJPY","timeframe":"5M","ticker":"USDJPY_5M","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c97.jpg"},"C98":{"symbol":"ETHBTC","timeframe":"15M","ticker":"ETHBTC_15M","group":"14 Crypto ETH","url":"https://api.maatsii.com/c98.jpg"},"C99":{"symbol":"RTY1!/ES1","timeframe":"15M","ticker":"RTY1_ES1_15M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c99.jpg"},"C100":{"symbol":"YM1!/ES1","timeframe":"15M","ticker":"YM1_ES1_15M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c100.jpg"},"C101":{"symbol":"ZN1!/UB1","timeframe":"1H","ticker":"ZN1_UB1_1H","group":"06 FI 10-Year","url":"https://api.maatsii.com/c101.jpg"},"C102":{"symbol":"DXY/ES1","timeframe":"30M","ticker":"DXY_ES1_30M","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c102.jpg"},"C103":{"symbol":"DXY/NQ1","timeframe":"30M","ticker":"DXY_NQ1_30M","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c103.jpg"},"C104":{"symbol":"DXY/6E1/6J1/6B1/6A1","timeframe":"1D","ticker":"DXY_6E1_6J1_6B1_6A1_1D","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c104.jpg"},"C105":{"symbol":"YM1!","timeframe":"1M","ticker":"YM1_1M","group":"03 YM","url":"https://api.maatsii.com/c105.jpg"},"C106":{"symbol":"YM1!","timeframe":"4H","ticker":"YM1_4H","group":"03 YM","url":"https://api.maatsii.com/c106.jpg"},"C107":{"symbol":"RTY1!","timeframe":"1M","ticker":"RTY1_1M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c107.jpg"},"C108":{"symbol":"RTY1!","timeframe":"4H","ticker":"RTY1_4H","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c108.jpg"},"C109":{"symbol":"UB1!","timeframe":"15M","ticker":"UB1_15M","group":"07 FI Long-Term","url":"https://api.maatsii.com/c109.jpg"},"C110":{"symbol":"ZN1!","timeframe":"1D","ticker":"ZN1_1D","group":"06 FI 10-Year","url":"https://api.maatsii.com/c110.jpg"},"C111":{"symbol":"ZB1!","timeframe":"1D","ticker":"ZB1_1D","group":"07 FI Long-Term","url":"https://api.maatsii.com/c111.jpg"},"C112":{"symbol":"ZF1!","timeframe":"4H","ticker":"ZF1_4H","group":"05 FI Short-Term","url":"https://api.maatsii.com/c112.jpg"},"C113":{"symbol":"ZF1!","timeframe":"4H","ticker":"ZF1_4H","group":"05 FI Short-Term","url":"https://api.maatsii.com/c113.jpg"},"C114":{"symbol":"US10Y","timeframe":"1D","ticker":"US10Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c114.jpg"},"C115":{"symbol":"6C1","timeframe":"1H","ticker":"6C1_1H","group":"11 FX JPY & Other","url":"https://api.maatsii.com/c115.jpg"},"C116":{"symbol":"6S1","timeframe":"1H","ticker":"6S1_1H","group":"12 FX Crosses","url":"https://api.maatsii.com/c116.jpg"},"C117":{"symbol":"USDCAD","timeframe":"1H","ticker":"USDCAD_1H","group":"12 FX Crosses","url":"https://api.maatsii.com/c117.jpg"},"C118":{"symbol":"USDCHF","timeframe":"1H","ticker":"USDCHF_1H","group":"12 FX Crosses","url":"https://api.maatsii.com/c118.jpg"},"C119":{"symbol":"BTCUSD","timeframe":"1000T","ticker":"BTCUSD_1000T","group":"13 Crypto BTC","url":"https://api.maatsii.com/c119.jpg"},"C120":{"symbol":"ETHUSD","timeframe":"1000T","ticker":"ETHUSD_1000T","group":"14 Crypto ETH","url":"https://api.maatsii.com/c120.jpg"},"C121":{"symbol":"BTC.D","timeframe":"1H","ticker":"BTC.D_1H","group":"13 Crypto BTC","url":"https://api.maatsii.com/c121.jpg"},"C122":{"symbol":"DXY1!","timeframe":"4H","ticker":"DXY1_4H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c122.jpg"},"C123":{"symbol":"GC1!","timeframe":"1000T","ticker":"GC1_1000T","group":"16 Gold","url":"https://api.maatsii.com/c123.jpg"},"C124":{"symbol":"GC1!","timeframe":"1000T","ticker":"GC1_1000T","group":"16 Gold","url":"https://api.maatsii.com/c124.jpg"},"C125":{"symbol":"SPY/IWM","timeframe":"5M","ticker":"SPY_IWM_5M","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c125.jpg"},"C126":{"symbol":"SPY/QQQ","timeframe":"5M","ticker":"SPY_QQQ_5M","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c126.jpg"},"C127":{"symbol":"SPY/RSP","timeframe":"5M","ticker":"SPY_RSP_5M","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c127.jpg"},"C128":{"symbol":"SPY/XLP","timeframe":"5M","ticker":"SPY_XLP_5M","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c128.jpg"},"C129":{"symbol":"SPY/SMH","timeframe":"5M","ticker":"SPY_SMH_5M","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c129.jpg"},"C130":{"symbol":"SPLV/SPHB","timeframe":"1H","ticker":"SPLV_SPHB_1H","group":"24 Market Breadth","url":"https://api.maatsii.com/c130.jpg"},"C131":{"symbol":"XLF/XLK","timeframe":"1H","ticker":"XLF_XLK_1H","group":"24 Market Breadth","url":"https://api.maatsii.com/c131.jpg"},"C132":{"symbol":"SPY/XLE","timeframe":"1H","ticker":"SPY_XLE_1H","group":"24 Market Breadth","url":"https://api.maatsii.com/c132.jpg"},"C133":{"symbol":"HYG/TLT","timeframe":"1H","ticker":"HYG_TLT_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c133.jpg"},"C134":{"symbol":"HYG/IEF","timeframe":"1H","ticker":"HYG_IEF_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c134.jpg"},"C135":{"symbol":"VIX/VIX3M","timeframe":"5M","ticker":"VIX_VIX3M_5M","group":"23 Volatility","url":"https://api.maatsii.com/c135.jpg"},"C136":{"symbol":"VIX9D/VIX","timeframe":"5M","ticker":"VIX9D_VIX_5M","group":"23 Volatility","url":"https://api.maatsii.com/c136.jpg"},"C137":{"symbol":"VVIX/VIX","timeframe":"1H","ticker":"VVIX_VIX_1H","group":"23 Volatility","url":"https://api.maatsii.com/c137.jpg"},"C138":{"symbol":"UVXY/SVIX","timeframe":"1H","ticker":"UVXY_SVIX_1H","group":"23 Volatility","url":"https://api.maatsii.com/c138.jpg"},"C139":{"symbol":"US02Y/US10Y","timeframe":"1D","ticker":"US02Y_US10Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c139.jpg"},"C140":{"symbol":"US03M/US10Y","timeframe":"1D","ticker":"US03M_US10Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c140.jpg"},"C141":{"symbol":"US10Y/US30Y","timeframe":"1D","ticker":"US10Y_US30Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c141.jpg"},"C142":{"symbol":"US10Y/US30Y","timeframe":"1D","ticker":"US10Y_US30Y_1D","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c142.jpg"},"C143":{"symbol":"TLT/IEF","timeframe":"1H","ticker":"TLT_IEF_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c143.jpg"},"C144":{"symbol":"HYG/LQD","timeframe":"1H","ticker":"HYG_LQD_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c144.jpg"},"C145":{"symbol":"DXY/CL1","timeframe":"1H","ticker":"DXY_CL1_1H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c145.jpg"},"C146":{"symbol":"DXY/GC1","timeframe":"1H","ticker":"DXY_GC1_1H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c146.jpg"},"C147":{"symbol":"DXY/EEM","timeframe":"1D","ticker":"DXY_EEM_1D","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c147.jpg"},"C148":{"symbol":"DXY/BTCUSD","timeframe":"1H","ticker":"DXY_BTCUSD_1H","group":"09 Dollar & DXY","url":"https://api.maatsii.com/c148.jpg"},"C149":{"symbol":"RB1!/CL1","timeframe":"1H","ticker":"RB1_CL1_1H","group":"17 Energy","url":"https://api.maatsii.com/c149.jpg"},"C150":{"symbol":"HO1!/CL1!","timeframe":"1H","ticker":"HO1_CL1_1H","group":"17 Energy","url":"https://api.maatsii.com/c150.jpg"},"C151":{"symbol":"HO1!/CL1","timeframe":"1H","ticker":"HO1_CL1_1H","group":"17 Energy","url":"https://api.maatsii.com/c151.jpg"},"C152":{"symbol":"NG1!/CL1","timeframe":"1H","ticker":"NG1_CL1_1H","group":"17 Energy","url":"https://api.maatsii.com/c152.jpg"},"C153":{"symbol":"GC1!/SI1","timeframe":"1D","ticker":"GC1_SI1_1D","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c153.jpg"},"C154":{"symbol":"HG1!/GC1","timeframe":"1H","ticker":"HG1_GC1_1H","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c154.jpg"},"C155":{"symbol":"ZS1!/ZC1","timeframe":"1D","ticker":"ZS1_ZC1_1D","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c155.jpg"},"C156":{"symbol":"ZC1!/ZC2!","timeframe":"1H","ticker":"ZC1_ZC2_1H","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c156.jpg"},"C157":{"symbol":"ZS1!/ZS2!","timeframe":"1H","ticker":"ZS1_ZS2_1H","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c157.jpg"},"C158":{"symbol":"DEU40/SPX500USD","timeframe":"1H","ticker":"DEU40_SPX500USD_1H","group":"25 Global & Macro","url":"https://api.maatsii.com/c158.jpg"},"C159":{"symbol":"UK100GBP/SPX500USD","timeframe":"1D","ticker":"UK100GBP_SPX500USD_1D","group":"25 Global & Macro","url":"https://api.maatsii.com/c159.jpg"},"C160":{"symbol":"JPN225/SPX500USD","timeframe":"1H","ticker":"JPN225_SPX500USD_1H","group":"25 Global & Macro","url":"https://api.maatsii.com/c160.jpg"},"C161":{"symbol":"HK50/SPX500USD","timeframe":"1D","ticker":"HK50_SPX500USD_1D","group":"25 Global & Macro","url":"https://api.maatsii.com/c161.jpg"},"C162":{"symbol":"ES1!/YM1","timeframe":"5M","ticker":"ES1_YM1_5M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c162.jpg"},"C163":{"symbol":"YM1!/RTY1","timeframe":"5M","ticker":"YM1_RTY1_5M","group":"04 RTY & Index Spreads","url":"https://api.maatsii.com/c163.jpg"},"C164":{"symbol":"IWF/IWD","timeframe":"1D","ticker":"IWF_IWD_1D","group":"25 Global & Macro","url":"https://api.maatsii.com/c164.jpg"},"C165":{"symbol":"SOXX/QQQ","timeframe":"5M","ticker":"SOXX_QQQ_5M","group":"20 Semiconductors","url":"https://api.maatsii.com/c165.jpg"},"C166":{"symbol":"AUDJPY","timeframe":"5M","ticker":"AUDJPY_5M","group":"12 FX Crosses","url":"https://api.maatsii.com/c166.jpg"},"C167":{"symbol":"EURJPY/USDJPY","timeframe":"1H","ticker":"EURJPY_USDJPY_1H","group":"12 FX Crosses","url":"https://api.maatsii.com/c167.jpg"},"C168":{"symbol":"USDJPY/US10Y","timeframe":"1H","ticker":"USDJPY_US10Y_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c168.jpg"},"C169":{"symbol":"ETHBTC","timeframe":"5M","ticker":"ETHBTC_5M","group":"14 Crypto ETH","url":"https://api.maatsii.com/c169.jpg"},"C170":{"symbol":"SOL/BTC","timeframe":"5M","ticker":"SOL_BTC_5M","group":"15 Crypto Market & Alts","url":"https://api.maatsii.com/c170.jpg"},"C171":{"symbol":"TOTAL3/TOTAL2","timeframe":"1D","ticker":"TOTAL3_TOTAL2_1D","group":"15 Crypto Market & Alts","url":"https://api.maatsii.com/c171.jpg"},"C172":{"symbol":"TOTAL2/TOTAL","timeframe":"1D","ticker":"TOTAL2_TOTAL_1D","group":"15 Crypto Market & Alts","url":"https://api.maatsii.com/c172.jpg"},"C173":{"symbol":"BTC.D/TOTAL","timeframe":"1D","ticker":"BTC.D_TOTAL_1D","group":"13 Crypto BTC","url":"https://api.maatsii.com/c173.jpg"},"C174":{"symbol":"HG1!/ALI1","timeframe":"1H","ticker":"HG1_ALI1_1H","group":"18 Metals & Agriculture","url":"https://api.maatsii.com/c174.jpg"},"C175":{"symbol":"NVDA","timeframe":"1H","ticker":"NVDA_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c175.jpg"},"C176":{"symbol":"AAPL","timeframe":"1H","ticker":"AAPL_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c176.jpg"},"C177":{"symbol":"AMZN","timeframe":"1H","ticker":"AMZN_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c177.jpg"},"C178":{"symbol":"INTC","timeframe":"1H","ticker":"INTC_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c178.jpg"},"C179":{"symbol":"PLTR","timeframe":"1H","ticker":"PLTR_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c179.jpg"},"C180":{"symbol":"MSTR","timeframe":"1H","ticker":"MSTR_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c180.jpg"},"C181":{"symbol":"SOFI","timeframe":"1H","ticker":"SOFI_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c181.jpg"},"C182":{"symbol":"GOOGL","timeframe":"1H","ticker":"GOOGL_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c182.jpg"},"C183":{"symbol":"META","timeframe":"1H","ticker":"META_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c183.jpg"},"C184":{"symbol":"AMD","timeframe":"1H","ticker":"AMD_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c184.jpg"},"C185":{"symbol":"PDD","timeframe":"1H","ticker":"PDD_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c185.jpg"},"C186":{"symbol":"VIX/VVIX","timeframe":"1H","ticker":"VIX_VVIX_1H","group":"23 Volatility","url":"https://api.maatsii.com/c186.jpg"},"C187":{"symbol":"RGTI","timeframe":"1H","ticker":"RGTI_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c187.jpg"},"C188":{"symbol":"TNX/FVX.P","timeframe":"1H","ticker":"TNX_FVX.P_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c188.jpg"},"C189":{"symbol":"TNX/FVX.P","timeframe":"1H","ticker":"TNX_FVX.P_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c189.jpg"},"C190":{"symbol":"FVX.P/IRX.P","timeframe":"1H","ticker":"FVX.P_IRX.P_1H","group":"08 Yield Curve & Credit","url":"https://api.maatsii.com/c190.jpg"},"C191":{"symbol":"SMCI","timeframe":"1H","ticker":"SMCI_1H","group":"20 Semiconductors","url":"https://api.maatsii.com/c191.jpg"},"C192":{"symbol":"QQQ/IWM","timeframe":"1H","ticker":"QQQ_IWM_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c192.jpg"},"C193":{"symbol":"HOOD","timeframe":"1H","ticker":"HOOD_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c193.jpg"},"C194":{"symbol":"OPEN","timeframe":"1H","ticker":"OPEN_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c194.jpg"},"C195":{"symbol":"MSFT","timeframe":"1H","ticker":"MSFT_1H","group":"21 Mega-Cap Tech","url":"https://api.maatsii.com/c195.jpg"},"C196":{"symbol":"SPY","timeframe":"1H","ticker":"SPY_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c196.jpg"},"C197":{"symbol":"QQQ","timeframe":"1H","ticker":"QQQ_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c197.jpg"},"C198":{"symbol":"IWM","timeframe":"1H","ticker":"IWM_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c198.jpg"},"C199":{"symbol":"XBI","timeframe":"1H","ticker":"XBI_1H","group":"19 ETFs & Rotation","url":"https://api.maatsii.com/c199.jpg"},"C200":{"symbol":"CRWV","timeframe":"1H","ticker":"CRWV_1H","group":"22 High-Beta & Speculative","url":"https://api.maatsii.com/c200.jpg"}}}
